* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header_content_page2 {
    background-color: #072ac8;
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: row;
}
.container_pokemon_ball {
    position: relative;
    width: 180px;
    height: 100%;
    overflow: hidden;
}
.container_pokemon_ball svg {
    position: absolute;
    top: -20px;
    right: 30px; 
    width: 130px;
    height: 130px;
    object-fit: cover;
}
.container_pokemon_ball::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 42, 200, 0.5);
}
.back_arrow {
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    padding-left: 30px;
}
.content_block {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    padding: 0px 250px 0px 250px;
}
.characters_pokemon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 20px; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}
.header_pokemon_character {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.container_id_name {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.button_abilities_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.name_pokemon::first-letter {
    text-transform: uppercase;
}
.body_character_container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}
.statistic_container {
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 300px;
}
.image_pokemon {
    display: flex;
    justify-content: center;padding-top: 25px;
    width: 100%;
    height: 100%;
}
.image_pokemon img{
    width: 100%;
    height: 70%;
}
.hp_container {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 35px;
}
.hp_level {
    background-color: lightgreen;
    border-radius: 10px;
    width: 450px;
    height: 100%;
}
.attached_level_block {
    background-color: darkgreen;
    border-radius: 10px;
    height: 100%;
}
.attack_container {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 35px;
}
.attack_level {
    background-color: lightcoral;
    border-radius: 10px;
    width: 450px;
    height: 100%;
}
.attached_attack_block {
    background-color: red;
    border-radius: 10px;
    height: 100%;
}
.defense_container {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 35px;
}
.defense_level {
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    width: 450px;
    height: 100%;
}
.attached_defense_block {
    background-color: yellow;
    border-radius: 10px;
    height: 100%;
}
.speed_container {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 35px;
}
.speed_level {
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    width: 450px;
    height: 100%;
}
.attached_speed_block {
    background-color: darkorange;
    border-radius: 10px;
    height: 100%;
}
.breeding_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 20px; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 30px;
}
.container_height_weight {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    padding: 0px 30px 0px 30px;
}
.container_height {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_height p,.container_weight p  {
    color: gray;
    font-size: 18px;
}
.container_weight {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_statistic_height, .container_statistic_weight{
    width: 100%;
    height: 50px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0px 150px 0px 150px;
    margin-top: 5px;
}
.container_statistic_height {
    margin-right: 10px;
}
.container_statistic_weight {
    margin-left: 10px;
}
.moves_container {
    width: 100%;
    display: flex;
    background-color: white;
    flex-direction: column;
    margin: 20px; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 50px;
}
.cards_container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.moves_container p {
    font-size: 32px;
    margin-bottom: 50px;
}
.moves_card {
    display: flex;
    width: 130px;
    height: 130px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #072ac8;
    border-radius: 10px;
    color: white;
    margin: 10px;
}

.moves_card p {
    font-size: 18px;
    margin: 0px;
}