* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#root {
  display: flex;
}

.App {
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #072ac8;
  margin-bottom: 20px;
}
.container_poke_ball {
  /* display: flex; */
  position: relative;
  width: 400px;
  height: 280px;
  overflow: hidden;
}

.container_poke_ball svg {
  position: absolute;
  top: -80px;
  right: -60px; /* Размещаем изображение в правом верхнем углу */
  width: 350px;
  min-width: 100px;
  height: 350px;
  object-fit: cover;
}
.container_poke_ball::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 42, 200, 0.5);
}
.title_header {
  color: white;
  text-align: center;
  font-size: 36px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
.input_form {
  width: 700px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 3px;
  background-color: white;
}


.container_for_title_and_ball {
  display: flex;
  flex-direction: row;
}
.searchImage {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

.header_content {
  display: flex;
  flex-direction: column;
}

.titel_header_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 120px;
  margin-left: 10px;
}

main, .pokemon_list {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.pokemon_card {
  min-width: 100px;
  width: 278px;
  height: 298px;
  background-color: white;
  margin: 5px; 
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}
.header_card {
  display: flex;
  justify-content: space-between;
}
.pokemon_name {
  color: darkblue;
}
.pokemon_image_coniner {
  display: flex;
  justify-content: center;
  height: 80%;
}
.pokemon_image_coniner img {
  width: 100%;
  height: 90%;
}
.button_container {
  display: flex;
  justify-content: left;
  margin-top: 5px;
  margin-bottom: 40px;
  width: 100%;
}
.abilities_button {
  height: 35px;
  width: 110px;
  font-size: 17px;
  margin: 0 5px;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}
.wrapper_main_page {
  width: 100%;
  height: 100%;
}